<!DOCTYPE html>
<html lang='en'>
<%- include('../partials/header') %>
    <body>
    <%- include('../partials/navbar') %>
    <h1>Skills List</h1>
        <ul>
          <% skills.forEach((s) => { %>
            <li>
                <a style='font-size: 25px;' href='/skills/<%= s.id %>'><%= s.skill %> 
                <span style='color: lightgrey;'> -<%= s.proficiency ?  s.proficiency : '(add skill level)' %></a></span>  
            </li>
            <% }) %>
          </ul> 
          <a href="/skills/new">Add New Skill</a>
    </body>
</html>