<!DOCTYPE html>
<html lang='en'>
    <%- include('../partials/header') %>
    <body>
    <%- include('../partials/navbar') %>
    <div style='text-align:center;'>
        <h1><%= skill.skill  %></h1>
        <a class='link-button' href="/skills">Back</a>
        <a class='link-button' style='text-align:center;' href='/skills/<%= skill.id %>/edit'>Edit Skill</a>
        <form action='/skills/<%= skill.id %>?_method=DELETE' method='POST'>
            <button style='background-color: red;' type='submit'>Delete Skill</button>
        </form>
    </div>
    </body>
</html>